GOOGLE_MAPS_API_KEY=... # Generate your own key via Google Console
VEXO_API_KEY=... # Generate your own key via Vexo Analytics

# Supabase: From your project's API settings
SUPABASE_URL=...
SUPABASE_ANON_KEY=...

# Setup your own backend server (http://IP_ADDRESS:PORT/MODULE)
ASR_URL=...
MODEL_URL=...